@import "tailwindcss";

@theme {
  --color-bg: #0D0D0D;
  --color-surface: #1A1A1A;
  --color-card: #111111;
  --color-accent: #3B82F6;
  --color-textSecondary: #A3A3A3;
}

body {
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
